@inherits LayoutComponentBase
@using ControlEnvios.Web.Theming

<MudThemeProvider Theme="CompanyTheme.Default" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="login-bg">
    @Body
</div>
