<div class="container-fullscreen footer  footer-dark">
    <div class="half-bottom text-center">
        <p class="text-center">
            <img src="@Url.Content("~/images/logo_footer.png")" data-displaymode="Original" alt="logo" title="logo">
        </p>
    </div>
    <div class="decoration"></div>
    <div class="small-text no-bottom text-center">©@DateTime.Now.Year Derechos de Autor.</div>
</div><!-- end footer-->
