<div class="container-fullscreen footer  footer-light">
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="@Url.Content("~/images/logo_quick_footer.png")" data-displaymode="Original" alt="logo1" title="logo1">
        </div>
        <div class="col-sm-4">
            <img src="@Url.Content("~/images/logo_footer.png")" data-displaymode="Original" alt="logo" title="logo">
        </div>
        <div class="col-sm-4">
            <img src="@Url.Content("~/images/logo_solimon_footer.png")" data-displaymode="Original" alt="logo2" title="logo2">
        </div>
        <p>
            <div class="small-text no-bottom text-center">©@DateTime.Now.Year Derechos de Autor.</div>
        </p>
    </div>
   
</div><!-- end footer-->
