@model string
    @{ 
        var controller = ViewContext.RouteData.Values["controller"].ToString();
        var action = ViewContext.RouteData.Values["action"].ToString(); 
    }

<div id="header-fixed" class="header-light header-transparent">
    @if (controller != "VerEnvios")
    {
        <a class="header-icon-left open-left-sidebar" href="#">
            <i class="fa fa-navicon"></i>
        </a>
    }
    <a class="header-icon-second go-help @(controller =="VerEnvios" ? "help-left" : "")" href="@Url.Action("Help", "Home")">
        <i class="fa  fa-question-circle"></i>
    </a>
      @if (controller != "VerEnvios" || (controller == "VerEnvios" && action == "Index"))
    {
        <a class="header-logo" href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/images/logo.png")" class="header-logo" data-displaymode="Original" alt="" title="logo">
        </a>
    }
    <a class="header-icon-right open-right-sidebar" href="#">
        <i class="fa  fa-power-off"></i>
    </a>
    <div class="header-menu-overlay"></div>
    <div class="header-menu header-menu-dark"></div>
</div>
<div class="gallery-fix"></div>
